/* COLOURS

#ff4d4d #ff8364 #fdb87d #ffe8d5

*/

.repository {
    color: #ff4d4d;
    color: #ff8364;
    color: #fdb87d;
    color: #ffe8d5;
}

@font-face{ 
	font-family: "edo-webfont";
	src: url("edo-webfont.woff") format('woff');
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 0.6vw;
}

body {
    /*font-size: 16px;*/
    color: #ffe8d5;
}

.top-nav-bar {
    height: 7vh;
    background-color: #ff4d4d;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    float: left;
    padding: 1rem 3.5rem;
}

.logo-img {
    height: 4.5rem;
}

.nav-bar-items {
    width: 100vw;
    list-style: none;
}

.nav-bar-items li,
.nav-bar-items li:visited {
    text-decoration: none;
    float: right;
    color: #ffe8d5;
    padding: 2rem 5rem 0 5rem;
    text-align: center;
    transition: all 0.2s;
}

.nav-bar-items a {
    text-decoration: none;
    color: #ffe8d5;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.6rem;
}

.nav-bar-items li:hover {
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-.2rem) scale(120%);
    letter-spacing: 110%;
}

.nav-bar-items li:active {
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-.1rem) scale(110%);
    letter-spacing: 105%;
}

.header {
    width: 100%;
    background-position:top;
    height: 93vh;
    margin-top: 7vh;
    background-image: linear-gradient(to bottom, #ff4d4d, #ff4d4d95), url("../assets/banner.png");
    /*background-image: linear-gradient(to bottom, #ff4d4d95, #ff4d4d95), url("../assets/banner.png");*/
    background-size: cover;
    position: relative;
    font-family: "edo-webfont", sans-serif;
}

.header-chef {
    float: left;
    padding: 10rem 15rem 0 15rem;
}

.chef-img {
    display: inline-block;
    width: 35vw;
}

.header-textbox {
    display: inline-block;
    text-align: center;
    padding: 16rem 10rem;
}

.pbb1, .pbb2 {
    width: auto;
    text-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    animation-name: scaleOut;
    animation-duration: 0.4s;
    animation-fill-mode: backwards;
    text-align: center;
}

.pbb1 {
    font-size: 10rem;
}

.pbb2 {
    font-size: 13rem;
    animation-delay: 0.2s;
    font-weight: 400;
    padding-bottom: 10rem;
}



.btn-div {
    display: inline-block;
    background-color: #ffe8d5;
    color: #ff8364;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all 0.2s;
    backface-visibility: hidden;
}

.btn-animation {
    animation-name: moveInBottom;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-delay: 0.4s;
    animation-fill-mode: backwards;
}

.btn-div a:link,
.btn-div a:visited {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    padding: 1.1rem 4rem;
   
    text-align: center;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff4d4d;
}

.btn-div:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
    transform: translateY(-.2rem) scale(120%);
    letter-spacing: 110%;
}

.btn-div:active {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
    transform: translateY(-.1rem) scale(110%);
    letter-spacing: 105%;
}

@keyframes moveInBottom {

    0% {
        opacity: 0;
        transform: translateY(5rem);
    }

    80% {
        transform: translateY(-.7rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleOut {

    0% {
        opacity: 0;
        scale: 110%;
    }

    80% {
        scale: 98%;
    }

    100% {
        opacity: 1;
        scale: 100%;
    }
    
}
